<div class="bg-image img-fluid"
     style="background-image: url('https://mdbootstrap.com/img/Photos/Others/images/76.jpg');
            height: 210px">
  <div class="display-5 text-center pt-1">
    <b>Universidad</b><br> Técnica de Cotopaxi
  </div>
  <div>
    <div class="mt-3 text-end col-12">
      <button class="btn py-0 btn-primary mx-1" style="font-size: 40px">
        <i class="fab fa-facebook-square"></i>
      </button>
      <button class="btn py-0 btn-primary mx-1" style="font-size: 40px">
        <i class="fab fa-twitter"></i>
      </button>
      <button class="btn py-0 btn-primary mx-1" style="font-size: 40px">
        <i class="fab fa-youtube"></i>
      </button>
      <button class="btn py-0 btn-primary mx-1" style="font-size: 40px">
        <i class="fab fa-instagram"></i>
      </button>
      <button class="btn py-0 btn-primary mx-1" style="font-size: 40px">
        <i class="far fa-envelope"></i>
      </button>

    </div>
  </div>
</div>
<div class="row justify-content-end my-2">
  Buscar:
  <div class="col-3 me-5">
    <form class="w-100 me-3">
      <input type="search" class="form-control" placeholder="" aria-label="Search">
    </form>
  </div>
</div>
<div class="text-center">
  <div class="btn-group">
    <button type="button" class="btn btn-secondary dropdown-toggle m-1 px-4" data-bs-toggle="dropdown" aria-expanded="false">
      Inicio
    </button>
    <ul class="dropdown-menu">

    </ul>
    <button type="button" class="btn btn-secondary dropdown-toggle m-1 px-4" data-bs-toggle="dropdown" aria-expanded="false">
      UTC
    </button>
    <ul class="dropdown-menu">
      <li><a class="dropdown-item" routerLink="/contacto">Contacto</a></li>
      <li><a class="dropdown-item" routerLink="/directorio">Directorio</a></li>
    </ul>
    <button type="button" class="btn btn-secondary dropdown-toggle m-1 px-4" data-bs-toggle="dropdown" aria-expanded="false">
      Pregrado
    </button>
    <ul class="dropdown-menu">

    </ul>
    <button type="button" class="btn btn-secondary dropdown-toggle m-1 px-4" data-bs-toggle="dropdown" aria-expanded="false">
      Posgrado
    </button>
    <ul class="dropdown-menu">

    </ul>
    <button type="button" class="btn btn-secondary dropdown-toggle m-1 px-4" data-bs-toggle="dropdown" aria-expanded="false">
      Investigración
    </button>
    <ul class="dropdown-menu">

    </ul>
  </div>
</div>

<router-outlet></router-outlet>


