<h1>EPN</h1>


<ul>
  <li>
    <a [routerLink]="['/inicio']" >INICIO</a>
  </li>
  <li>
    <a [routerLink]="['/login']" >LOGIN</a>
  </li>
  <li>
    <a [routerLink]="['/app']" >APP</a>
    <ul>
      <li>
        <a [routerLink]="['/app','usuario']" >APP USUARIO</a>
      </li>
      <li>
        <a [routerLink]="['/app','post']" >APP POST</a>
      </li>
    </ul>
  </li>
  <li>
    <a [routerLink]="['/lazy-inventario']">Inventario</a>
    <ul>
      <li>
        <a [routerLink]="['/lazy-inventario','bodega']" >Bodega</a>
      </li>
      <li>
        <a [routerLink]="['/lazy-inventario','reporte']" >Reporte</a>
      </li>
    </ul>
  </li>
</ul>

<button class ="btn btn-primary" (click)="eventoHola()">
  Enviar Hola
</button>
<router-outlet></router-outlet>
